# CODEOWNERS
# These owners are automatically requested for review on pull requests
# that modify matching files.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @learninghub44
